.table-wrapper {
    width: 100%;
    border: 1px solid #E6E9F0;
    border-radius: 20px;
    overflow: hidden;
}

.simple-table {
    width: 100%;
    margin-bottom: 0;  /* Reset bottom margin */
    box-sizing: border-box;
}

.simple-table th {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 30px;
    color: #0C1C2C;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    text-transform: capitalize;
}

.simple-table th:first-child {
    padding-right: 60px;
    border-radius: 20px 0 0 0;
}

.simple-table th:last-child {
    border-radius: 0 20px 0 0;
}

.simple-table td {
    padding: 12px 30px;
    text-align: left;
    vertical-align: top;
    color: #0C1C2C;
    font-size: 16px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.simple-table td:first-of-type {
    border-right: 1px solid #E6E9F0;
    padding-right: 60px;
}

.simple-table tr:first-child th,
.simple-table tr:first-child td {
    border-top: none;
}

.simple-table tr:last-child td:first-of-type {
    border-right: 1px solid #E6E9F0;
}

.simple-table tr:last-child td {
    border: none;
}

.simple-table tr:last-child td:first-child {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #E6E9F0;
}


/* -------------------
----- Search Bar -----
------------------- */

#simple-table-search {
    float: right;
    margin-bottom: 20px;
    height: 40px;  /* Specify a height for the input field */
    line-height: 40px;  /* And make line-height the same to center the text vertically */
}

.search-box {
    position: relative;
    float: right;
    margin-bottom: 5px;
}

#simple-table-search {
    padding-left: 30px;  /* Leave space for the icon */
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 33%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #272f3a;
}

/* Make the table horizontal scroll on mobile devices */
@media screen and (max-width: 700px) {

    .simple-table td:first-of-type {
        padding-right: 15px !important;
    }

    .simple-table td {
        padding: 12px 12px !important;
    }
}
  